.top-head{
    background-color: #0872b9;
}
.top-head-ul{
    
}
.top-head-ul li{
    list-style: none;
}
.fa-brands:hover {
    color: #353535;
}
.banner-section{
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hire-btn{
    background-color: #0872b9;
}
.line{
    display: block;
    width: 112px;
    height: 2px;
    background-color: blue;
    top: 45px;
    left: 474px;
}
.service-line{
    display: block;
    width: 112px;
    height: 2px;
    background-color: blue;
    top: 45px;
    left: 450px;
    
}

.icon-image{
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    /* display: block; */
    top: -50px;
    left: 125px;
}
.single-about{
    background-color: #f1f1f1;
}
.circle-1{
    width: 72px;
    height: 72px;
    background-color: #f1f1f1;
}
.circle-2{
    width: 70px;
    height: 70px;
    background-color: #ffffff;
}
.circle-3{
    width: 65px;
    height: 65px;
    background-color: #f1f1f1;
}
.icon-image img{
    width: 30px;
    height: 30px;
}
.about-div{
    margin: 100px 0;
}
.circle-1:hover .circle-3{
    background-color: #5bc5f4;
}

.single-portfolio{
    width: 23%;
}
.single-port img{
    width: 100%;
}
.team-section

.team{

}
.single-team{
    width: 23%;
}
.team-img{
    width: 100%;
}



.team-line{
    display: block;
    width: 90px;
    height: 2px;
    background-color: blue;
    top: 45px;
    left: 475px;
    
}
.testimonial-line{
    display: block;
    width: 90px;
    height: 2px;
    background-color: blue;
    top: 45px;
    left: 475px;
    
}
.single-testimonial{
    width: 48%;
}
.single-testi{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.testi-img{

}
.testi-text{
    background-image: url(/images/testi-bg.jpg);
}


.icon{
    width: 40px;
    height: 40px;
    background-color: #5bc5f4;
}

.footer-section{
   
}

.f-img{
    width: 100%;
}
